### VVV Files ###
vvv-hosts
vvv-init.sh
wp-cli.yml


### Sass ###
*.sass-cache*
.sass-cache/
*.css.map


### Gulp Starter Theme ###
# Compiled Styles #
# To ignore compiled styles, uncomment the following #
# dist/css/style.css
# dist/js/compiled.js

# Theme dependencies #
# /bower_components
node_modules
node_modules/*


### WordPress ###
# */wp-config.php
*/wp-content/advanced-cache.php
*/wp-content/wp-cache-config.php

*.log
wp-content/uploads/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/plugins/hello.php
wp-content/themes/twenty*

# /.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


### Zip Files and Packages ###
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.idea/