.getanimals {
  h2 {
    @include h2wtag;
    color: $darkBlue;
    max-width: 442px;
    margin: 0 auto;
    font-size: 36px;
  }

  .taxonomies {
    .nameContainer {
      a {
        @include button($teal);
        color: $darkBlue;
      }
    }
  }
}