$sidebar-layout: (
        columns: 3,
        gutter: 40px,
);

$product-gallery: (
        columns: 4,
        gutter: 40px,
);
.sidebar-layout {
  @include grid-container;
}

.sidebar-layout__sidebar {
  @include grid-column(1, $sidebar-layout);
}

.sidebar-layout__main {
  @include grid-column(2, $sidebar-layout);
}

.product-gallery {
  @include grid-collapse($product-gallery);
  @include grid-container;
  @include stretchChildren
}

.product-gallery__item {
  @include grid-column(1, $product-gallery);
  @include shadow;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    @include default-font;

    .image-wrapper {
      @include aspect-ratio(275px, 188px);

      .featImg {
      }
    }

    h2 {
      padding: 20px;
    }

    p {
      @include default-font;
      color: $darkBlue !important;

      padding: 20px;
    }
  }

  .blogCategories {
    display: flex;
    flex-flow: wrap;
    padding: 15px;

    a {
      @include button-bg($mint);
      flex: 0 0 auto;
      margin: 5px;
      color: $teal;
    }
  }
}