html, body {
	@include default-font;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	@include headline-font;
}

.skip-link {
    position: absolute;
    top: -50px;
}

// disable tel links on desktop
a[href^="tel:"] {
	@media (min-width: $tablet) {
		pointer-events: none;
	}
}

.container {
	position: relative;
	max-width: $container;
	padding: 0 $site_container_padding;
	margin: 0 auto;

	@media (max-width: $mobile) {
		max-width: $container_mobile;
		padding: 0 $site_container_padding_mobile;
	}
}
